@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto+Mono:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Wix+Madefor+Text&display=swap');
/* Estilos para el body */
body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #11111F;
  color: white;
  background-repeat: no-repeat;
  background-size: cover;
}
.principal-header{
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  font-size: 30px;
}
.header-txt {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  font-size: 20px;
}

main {
  padding: 64px;
  background: linear-gradient(186deg, #11111f, #0e0e24);
  min-height: 54vh;
}

#Logout,
#botonexplor,
#OrdenC {
  display: none;
}
h1 {
  display: block;
  font-size: 2em;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}
h1 {
  width: 50%;
  text-align: center;
  /* margin: 87px; */
}
h1 strong {
  color: #4cbfdc;
}
strong {
  font-weight: bold;
}
.logo img {
  width: 79%;
}

a.logo {
  width: 92px;
  height: 92px;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
}

element.style {
  display: block;
}
.container {
  width: 100%;
  max-width: 100%;
  margin: 0;
}

.hcontainer {
  display: flex;
  background-image: linear-gradient(45deg, black, transparent);
  background-position: center center;
  background-color: #29293e;
  background-size: auto;
  background-size: cover;
  background-repeat: no-repeat;
  font-size: 50px;
  padding: 20px;
  min-height: 10rem;
  flex-direction: column;
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  /* flex-grow: 1; */
  /* margin-top: 25rem; */
}

.button {
  background-color: #21214c;
  font-family: 'Wix Madefor Text', sans-serif;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  font-size: 1.2rem;
  padding: 1rem 2rem;
  transition: background-color 0.3s ease;
  /* margin-left: 12rem; */
}

.button:hover {
  background-color: #1f1f2f;
}


.navbar-container *:hover {
  background: #080810;
  transition: 0.5s ease;
}
.navbar-container * {
  padding: 28px;
  margin: 1px;
  border-radius: 5px;
  transition: 0.5s ease;
}

.text-b{
  color: white; 
  text-decoration: none;
}
/* Estilos para el header */

.header {
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hcontainer {
  display: flex;
  background-image: linear-gradient(45deg, black, transparent);
  background-position: center center;
  background-color: #29293e;
  background-size: auto;
  background-size: cover;
  background-repeat: no-repeat;
  font-size: 20px;
  padding: 20px;
  min-height: 80vh;
}

.header__item {
  cursor: pointer;
}





.body__item {
  display: none;
}

.body__item__active {
  display: block;
}

header a {
  color: #fff;
  text-decoration: none;
}


/* Estilos para las secciones */
section {
  padding: 50px;
}

section h1 {
  font-size: 36px;
  margin-bottom: 20px;
}

section p {
  font-size: 18px;
  margin-bottom: 30px;
}

section ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

section li {
  margin-bottom: 10px;
}

/* Estilos para el footer */
footer {
  background: linear-gradient(186deg, #11111f, #0e0e24);
  color: #fff;
  text-align: center;
  padding: 20px;
}





/* Estilos para cursos*/
/* Curso Python */
.curso_python {
  display: inline-block;
  width: 275px;
  margin: 10px;
  padding: 10px;
  border: 1px solid black;
  border-radius: 5px;
}

.curso_python img {
  display: block;
  width: 100%;
  height: 200px;
  margin-bottom: 10px;
  border-radius: 5px;
}

.curso_python h2 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.curso_python p {
  font-size: 16px;
  line-height: 1.4;
  margin-bottom: 10px;
}

.curso_python a {
  display: inline-block;
  padding: 8px 16px;
  background-color: black;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.curso_python a:hover {
  background-color: #E0115F;
}

/* Curso C++ */

.curso_cplusplus {
  display: inline-block;
  width: 275px;
  margin: 10px;
  padding: 10px;
  border: 1px solid black;
  border-radius: 5px;
}

.curso_cplusplus img {
  display: block;
  width: 100%;
  height: 200px;
  margin-bottom: 10px;
  border-radius: 5px;
}

.curso_cplusplus h2 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.curso_cplusplus p {
  font-size: 16px;
  line-height: 1.4;
  margin-bottom: 10px;
}

.curso_cplusplus a {
  display: inline-block;
  padding: 8px 16px;
  background-color: black;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.curso_cplusplus a:hover {
  background-color: #E0115F;
}

/* Curso html y Css */

.curso_html {
  display: inline-block;
  width: 275px;
  margin: 10px;
  padding: 10px;
  border: 1px solid black;
  border-radius: 5px;
}

.curso_html img {
  display: block;
  width: 100%;
  height: 200px;
  margin-bottom: 10px;
  border-radius: 5px;
}

.curso_html h2 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.curso_html p {
  font-size: 16px;
  line-height: 1.4;
  margin-bottom: 10px;
}

.curso_html a {
  display: inline-block;
  padding: 8px 16px;
  background-color: black;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.curso_html a:hover {
  background-color: #E0115F;
}

/* Curso Matematica CS */
.curso_matematicaCS {
  display: inline-block;
  width: 275px;
  margin: 5px;
  padding: 10px;
  border: 1px solid black;
  border-radius: 5px;
}

.curso_matematicaCS img {
  display: block;
  width: 100%;
  height: 195px;
  margin-bottom: 5px;
  border-radius: 5px;
}

.curso_matematicaCS h2 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 4px;
  padding:0px;
}

.curso_matematicaCS p {
  font-size: 16px;
  line-height: 1.4;
  margin-bottom: 10px;
}

.curso_matematicaCS a {
  display: inline-block;
  padding: 8px 16px;
  background-color: black;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.curso_matematicaCS a:hover {
  background-color: #E0115F;
}

/* Asesoria Python*/
.asesoria_python{
  display: inline-block;
  width: 275px;
  margin: 10px;
  padding: 10px;
  border: 1px solid black;
  border-radius: 5px;
}

.asesoria_python img {
  display: block;
  width: 100%;
  height: 200px;
  margin-bottom: 10px;
  border-radius: 5px;
}

.asesoria_python h2 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.asesoria_python p {
  font-size: 16px;
  line-height: 1.4;
  margin-bottom: 10px;
}

.asesoria_python a {
  display: inline-block;
  padding: 8px 16px;
  background-color: black;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.asesoria_python a:hover {
  background-color: #E0115F;
}

/* Asesoria C++*/
.asesoria_cpp{
  display: inline-block;
  width: 275px;
  margin: 10px;
  padding: 10px;
  border: 1px solid black;
  border-radius: 5px;
}

.asesoria_cpp img {
  display: block;
  width: 100%;
  height: 200px;
  margin-bottom: 10px;
  border-radius: 5px;
}

.asesoria_cpp h2 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.asesoria_cpp p {
  font-size: 16px;
  line-height: 1.4;
  margin-bottom: 10px;
}

.asesoria_cpp a {
  display: inline-block;
  padding: 8px 16px;
  background-color: black;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.asesoria_cpp a:hover {
  background-color: #E0115F;
}

/* Asesoria HTML/CSS */
.asesoria_html{
  display: inline-block;
  width: 275px;
  margin: 10px;
  padding: 10px;
  border: 1px solid black;
  border-radius: 5px;
}

.asesoria_html img {
  display: block;
  width: 100%;
  height: 200px;
  margin-bottom: 10px;
  border-radius: 5px;
}

.asesoria_html h2 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.asesoria_html p {
  font-size: 16px;
  line-height: 1.4;
  margin-bottom: 10px;
}

.asesoria_html a {
  display: inline-block;
  padding: 8px 16px;
  background-color: black;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.asesoria_html a:hover {
  background-color: #E0115F;
}

/* Asesoria Matematica CS */
.asesoria_matecs{
  display: inline-block;
  width: 275px;
  margin: 10px;
  padding: 10px;
  border: 1px solid black;
  border-radius: 5px;
}

.asesoria_matecs img {
  display: block;
  width: 100%;
  height: 174px;
  margin-bottom: 10px;
  border-radius: 5px;
}

.asesoria_matecs h2 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.asesoria_matecs p {
  font-size: 16px;
  line-height: 1.4;
  margin-bottom: 10px;
}

.asesoria_matecs a {
  display: inline-block;
  padding: 8px 16px;
  background-color: black;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.asesoria_matecs a:hover {
  background-color: #E0115F;
}

/* Menu y nav */
nav {
  background-color: #11111F;
  width: 100%;
  height: 100%;
  margin: 0;
}

ul.menu img {
  display: flex;
  height: 150px;
  width: auto;
  padding: 0px;
  margin-right: 20px;
}

ul.menu {
  display: flex;
  list-style: none;
  align-items: center;
  margin: 0px;
  margin-left: 20px;
  padding: 0px;

}

ul.menu li {
  margin-right: 40px;
}

ul.menu li:last-child {
  margin-right: 0;
}

ul.menu a {
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;
  text-decoration: none;
  transition: color 0.3s ease;
}

ul.menu a:hover {
  color: #b3b3b3;
}



.worker {
  display: inline-block;
  padding: 20px;
  border-radius: 8px;
  background: linear-gradient(to bottom, #2c3e50, #1a252f);
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

.full-name {
  font-weight: bold;
  margin-bottom: 10px;
  display: inline-block;
}


.item {
  flex-basis: calc(33.33% - 10px);
  margin-bottom: 20px;
}



body {
  font-family: Arial, sans-serif;
  margin: 0;
}

h1 {
  text-align: center;
  margin-top: 30px;
}

.row .item {
  margin: 25px;
  height: 340px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  overflow: hidden;
}
.row {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  align-items: center;
}
.item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    border-radius: 8px;
    background: linear-gradient(to bottom, #2c3e50, #1a252f);
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}
.item:hover {
  transform: translateY(-10px);
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
}

.item img {
  width: 200px;
  height: auto;
  margin-bottom: 10px;
}

.item p {
  line-height: 1.5;
  text-align: center;
  padding: 0 20px;
}



