<!DOCTYPE html>
<html>
<head>
    <title>Formulario de Compra</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="..\static\css\compra.css">
    <script src="..\static\js\actions.js"></script>

</head>
<body>
    <section id="formulario_compra">
        <h2>Formulario de Compra</h2>
        <form id="formularioCompra" onsubmit="return validarFormulario()">
            <label for="numeroTarjeta">Número de Tarjeta:</label>
            <input type="text" id="numeroTarjeta" name="numeroTarjeta" required>
            <br>
            <label for="fechaExpiracion">Fecha de Expiración:</label>
            <input type="text" id="fechaExpiracion" name="fechaExpiracion" required>
            <br>
            <label for="contrasena">Contraseña:</label>
            <input type="password" id="contrasena" name="contrasena" required>
            <br>
            <input type="submit" value="Comprar">
        </form>
    </section>

    <section id="boleta_compra">
        <h2>Boleta de Compra</h2>
        <div id="boleta">
            <p>Nombre del Producto: <span id="nombre_producto"></span></p>
            <p>Precio del Producto: <span id="precio_producto"></span></p>
        </div>
    </section>
    
    <script>
        function validarFormulario() {
            var numeroTarjeta = document.getElementById("numeroTarjeta").value;
            var fechaExpiracion = document.getElementById("fechaExpiracion").value;
            var contrasena = document.getElementById("contrasena").value;
            

            // Validar si todos los campos están llenos
            if (numeroTarjeta === '' || fechaExpiracion === '' || contrasena === '') {
                alert("Por favor, complete todos los campos del formulario."), 400;
                return false;
            }

            // Validar formato de número de tarjeta y fecha de expiración (ejemplo)
            var numeroTarjetaRegex = /^\d{16}$/; // 16 dígitos numéricos
            var fechaExpiracionRegex = /^\d{2}\/\d{2}$/; // MM/AA

            if (!numeroTarjetaRegex.test(numeroTarjeta) || !fechaExpiracionRegex.test(fechaExpiracion)) {
                alert("Por favor, ingrese un número de tarjeta válido y una fecha de expiración válida (MM/AA)."),400;
                return false;
            }

            return true;
        }
    </script>

    
</body>
</html>