<!DOCTYPE html>
<html>
<head>
	<title>TechTribe</title>
	<link rel="stylesheet" type="text/css" href="styles.css">
</head>
<body>
	<header class="header">
		<img src="logo.jpeg" alt="Logo" style="height: 50px;">
		<nav>
			<a href="#python">Introducción a Python</a>
			<a href="#html-css">Desarrollo web con HTML/CSS</a>
			<a href="#cpp">Programación avanzada en C++</a>
		</nav>
	</header>
	<main class="main">
		<section id="python">
			<h2>Introducción a Python</h2>
			<img src="python.jpg" alt="Introducción a Python">
			<p>Descripción del curso...</p>
			<a href="python.html">Más información</a>
		</section>
		<section id="html-css">
			<h2>Desarrollo web con HTML/CSS</h2>
			<img src="html-css.jpg" alt="Desarrollo web con HTML/CSS">
			<p>Descripción del curso...</p>
			<a href="html-css.html">Más información</a>
		</section>
		<section id="cpp">
			<h2>Programación avanzada en C++</h2>
			<img src="cpp.jpg" alt="Programación avanzada en C++">
			<p>Descripción del curso...</p>
			<a href="cpp.html">Más información</a>
		</section>
	</main>
</body>
</html>