<!DOCTYPE html>
<html>

<head>
  <title>TechTribe</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description"
    content="TechTribe ofrece cursos y asesorías de programación en línea. Descubre nuestra oferta de cursos de Python, C++, HTML y CSS.">
  <link rel="stylesheet" type="text/css" href="..\static\css\style.css">
  <script src="..\static\js\actions.js"></script>
</head>

<body>
  <header class="header" id="Menu">

    <a href="#" class="logo" onclick="mostrarDefault()">
      <img src="..\static\images\Logo2-remove.png" alt="Logo">
    </a>

    <div style="display: flex;" class="navbar-container">
      <a href="#" onclick="mostrarCurso()">Cursos</a>
      <a href="#" onclick="mostrarAsesoria()">Asesorias</a>
      <a href="#" onclick="mostrarProfesores()">Profesores</a>
      <a href="#" onclick="mostrarInicio()">Iniciar Sesion</a>
      <a href="/register">Registrate</a>

    </div>
  </header>

  <main>
    <div class="principal-header" id="textdefault">
      <h1>Desarrolla tu <strong>mente</strong> y tu <strong>creatividad</strong> con nuestra educación tecnológica de
        vanguardia_
      </h1>
    </div>

    <div class="header-txt" id="textcurso">
      <h1>Cada curso esta diseñado para ayudarte a alcanzar tus <strong>objetivos</strong> de aprendizaje y avanzar en
        tu carrera en <strong>tecnonologia</strong> _
      </h1>
    </div>

    <div class="header-txt" id="textasesoria">
      <h1>Nuestros expertos en <strong>tecnonologia</strong> están disponibles para ayudarte a superar tus desafíos más
        <strong>dificiles</strong> _
      </h1>
    </div>

    <div class="header-txt" id="Tpython">
      <h1>Curso: Python desde cero 2023</h1>
    </div>

    <div class="header-txt" id="TCp">
      <h1>Curso: C++ desde cero 2023</h1>
    </div>

    <div class="header-txt" id="THC">
      <h1>Curso: HTML y CSS desde cero 2023</h1>
    </div>

    <div class="header-txt" id="TAP">
      <h1>Asesoria: Python</h1>
    </div>

    <div class="header-txt" id="MAT">
      <h1>Curso: Matematicas para Computer Science</h1>
    </div>

    <div class="button-container" id="botonmenuin">
      <button class="button" onclick="mostrarInicio()"><a class="text-b" href="#">Inscríbete ahora</a></button>
    </div>

    <section id="cursos">
      <h1>Cursos de Programación</h1>
      <p>Descubre nuestra oferta de cursos de programación y mejora tus habilidades.</p>
      <div class="curso_python" style="background-color: #E0115F;">
        <img src="..\static\images\python.jpg" alt="Python">
        <h2>Python</h2>
        <p>Domina Python y crea aplicaciones poderosas con nuestro curso. Sintaxis elegante, fácil de leer y recursos
          accesibles hacen que el aprendizaje sea divertido</p>
        <a href="#" onclick="MPython()">Ver curso</a>
      </div>
      <div class="curso_cplusplus" style="background-color: #E0115F;">
        <img src="..\static\images\C++.png" alt="C++">
        <h2>C++</h2>
        <p>Únete a nuestro curso de C++ y descubre cómo crear aplicaciones de alto rendimiento con una sintaxis
          poderosa
          y eficiente. ¡Aprender es desafiante pero gratificante!</p>
        <a href="#" onclick="MCPP()">Ver curso</a>
      </div>

      <div class="curso_html" style="background-color: #E0115F;">
        <img src="..\static\images\html.jpg" alt="html and css">
        <h2>HTML y CSS</h2>
        <p>Aprende HTML y CSS para crear sitios web impresionantes y atractivos. Únete a nuestro curso para mejorar
          tus
          habilidades de diseño web y destacar en el mercado.</p>
        <a href="#" onclick="MHTMLCSS()">Ver curso</a>
      </div>

      <div class="curso_matematicaCS" style="background-color: #E0115F;">
        <img src="..\static\images\mathematics.jpg" alt="mathematics">
        <h2>Matematica para Computer Science</h2>
        <p>Mejora tu programación con matemáticas. Aprende cálculo, álgebra y estadística aplicada en nuestro curso para CS.</p>
        <a href="#" onclick="mate()">Ver curso</a>
      </div>
  </section>

      <section id="asesorias">
        <h1>Asesorías de Programación</h1>
        <p>¿Necesitas ayuda con un proyecto o una tarea de programación? Contáctanos y te asesoramos.</p>
        <div class="asesoria_python" style="background-color: blue;">
          <img src="..\static\images\asesoria.jpg" alt="Asesoria1">
          <h2>Asesoria Python</h2>
          <p>Obtén ayuda experta en Python y mejora tus habilidades de programación. Con nuestras asesorías
            personalizadas, resuelve tus problemas y lleva tus proyectos al siguiente nivel.</p>
          <a href="#" onclick="python_asesory()">Ver curso</a>
        </div>
      </section>
      
      <section id="Python">
        <h2>Curso de Python</h2>
        <p>En este curso de Python aprenderás a programar con uno de los lenguajes más populares y versátiles del mundo. Desde conceptos básicos hasta proyectos avanzados, este curso tiene todo lo que necesitas para convertirte en un programador Python experto.</p>
        <div style="display: flex;">
          <div style="flex: 1;">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/rfscVS0vtbw" title="video python" frameborder="0" allow="encrypted-media" allowfullscreen></iframe>
          </div>
          <div style="flex: 1;">
            <p>Deja volar tu imaginacion al abanico de posibilidades con Python, con el siguiente video se explicara a detalle lo que se enseñara en el curso</p>
          </div>
        </div>  
            <h3 id="introduccion">Introducción a Python</h3>
        <p>En esta sección se introduce Python y se explica cómo instalarlo y configurarlo en tu ordenador. También se cubren los conceptos básicos de programación, como variables y estructuras de control.</p>
        <h3 id="variables">Variables y tipos de datos</h3>
        <p>En esta sección se cubren los diferentes tipos de datos que puedes manejar en Python, como cadenas de texto, números y booleanos. También se explica cómo utilizar variables para almacenar y manipular datos.</p>
        <h3 id="condicionales">Condicionales y bucles</h3>
        <p>En esta sección se cubren las estructuras de control de flujo de Python, como los condicionales if-else y los bucles for y while. También se explica cómo utilizar estas estructuras para crear programas más complejos.</p>
        <h3 id="listas">Listas y tuplas</h3>
        <p>En esta sección se cubren las listas y tuplas en Python, que son estructuras de datos que permiten almacenar múltiples elementos en una sola variable. Se explica cómo utilizar estas estructuras y cómo manipular sus elementos.</p>
        <h3 id="diccionarios">Diccionarios</h3>
        <p>En esta sección se cubren los diccionarios en Python, que son estructuras de datos que permiten almacenar pares clave-valor.</p>
        <h3 id="funciones">Funciones</h3>
        <p>En esta sección se cubren las funciones en Python, que son bloques de código que pueden ser reutilizados en diferentes partes del programa. Se explica cómo crear y utilizar funciones, así como también se habla de los argumentos y valores de retorno de las mismas.</p>
        <h3 id="objetos">Programación orientada a objetos</h3>
        <p>En esta sección se cubre la programación orientada a objetos en Python, que es un paradigma de programación que permite estructurar el código de manera más organizada y modular. Se explica cómo crear clases, objetos y métodos en Python.</p>
        <h3 id="proyectos">Proyectos prácticos</h3>
        <p>En esta sección se presentan algunos proyectos prácticos que puedes realizar para aplicar lo que has aprendido en el curso. Entre ellos, se incluyen proyectos como un juego de adivinanza y una aplicación de gestión de tareas.</p>
        </section>
        
      <section id="Cplusplus">
        <h2>Curso de C++</h2>
        <p>Este curso te enseñará los conceptos básicos de programación en C++. Aprenderás a escribir programas utilizando la sintaxis de este lenguaje y conocerás las principales estructuras de control de flujo y tipos de datos.</p>
        <div style="display: flex;">
          <div style="flex: 1;">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/vLnPwxZdW4Y" title="video Cpluplus" frameborder="0" allow="encrypted-media" allowfullscreen></iframe>
          </div>
          <div style="flex: 1;">
            <p>En el presente video uno de nuestros docentes te enseñara el contenido del curso de C++</p>
            </div>
        </div> 
        <h3 id="intro">Introducción a C++</h3>
        <p>En esta sección se presenta una introducción al lenguaje de programación C++, sus características principales y cómo se diferencia de otros lenguajes. También se aborda la configuración del entorno de desarrollo y la forma de compilar y ejecutar programas.</p>
        <h3 id="tipos-datos">Tipos de datos</h3>
        <p>En esta sección se cubren los tipos de datos que se utilizan en C++ y su forma de declaración. También se enseña a trabajar con variables y constantes, y a realizar operaciones aritméticas con los distintos tipos de datos.</p>
        <h3 id="estructuras-control">Estructuras de control de flujo</h3>
        <p>En esta sección se cubren las estructuras de control de flujo en C++, como los bucles for, while y do-while, y las sentencias de control if, else if y switch. También se explica cómo se puede utilizar la sentencia break y continue dentro de los bucles.</p>
        <h3 id="arrays">Arrays</h3>
        <p>En esta sección se cubre el uso de arrays en C++, tanto unidimensionales como multidimensionales. Se explica cómo se declaran, inicializan y acceden a los elementos de los arrays.</p>
        <h3 id="funciones">Funciones</h3>
        <p>En esta sección se cubren las funciones en C++, que son bloques de código que pueden ser reutilizados en diferentes partes del programa. Se explica cómo crear y utilizar funciones, así como también se habla de los argumentos y valores de retorno de las mismas.</p>
        <h3 id="punteros">Punteros</h3>
        <p>En esta sección se cubren los punteros en C++, que son variables que contienen la dirección de memoria de otra variable. Se explica cómo declarar y utilizar punteros, así como también se habla de la aritmética de punteros y los punteros a funciones.</p>
        <h3 id="clases">Clases y objetos</h3>
        <p>En esta sección se cubre la programación orientada a objetos en C++, que se basa en la creación de clases y objetos. Se explica cómo se definen las clases, cómo se crean objetos a partir de ellas y cómo se pueden utilizar los distintos elementos de una clase, como atributos y métodos.</p>
        <h3 id="proyectos">Proyectos prácticos</h3>
        <p>En esta sección se presenta una serie de proyectos prácticos que permitirán aplicar los conceptos aprendidos en el curso. Entre ellos se encuentra la creación de un programa de cálculo de promedio de notas, la implementación de una lista de tareas con clases y objetos, y la creación de un juego de adivinanza de números.</p>
      </section>
      
      <section id="htmlcss">
            <h2>Curso de HTML y CSS</h2>
            <p>En este curso de HTML y CSS aprenderás los conceptos básicos de la creación de páginas web utilizando los lenguajes HTML y CSS. Con este conocimiento podrás crear tus propias páginas web y darles formato y estilo de manera profesional.</p>
            <div style="display: flex;">
              <div style="flex: 1;">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/vQWlgd7hV4A" title="video de HTML y CSS" frameborder="0" allow="encrypted-media" allowfullscreen></iframe>
              </div>
              <div style="flex: 1;">
                <p>Este video te ofrece una introducción al curso de HTML y CSS y te muestra algunos ejemplos básicos de cómo se estructura una página web utilizando HTML y se le da estilo utilizando CSS.</p>
              </div>
            </div>
            <h3 id="introduccion">Introducción a HTML y CSS</h3>
            <p>En esta sección se cubren los conceptos básicos de HTML y CSS, como la estructura básica de un documento HTML, las etiquetas, los atributos, los selectores CSS, las propiedades y los valores. También se explica cómo crear enlaces y cómo utilizar imágenes en una página web.</p>
            <h3 id="texto">Formato de texto con CSS</h3>
            <p>En esta sección se cubren las propiedades CSS que se utilizan para dar formato al texto en una página web. Se explican las propiedades para crear estilos de texto personalizados, como tamaños de fuente, colores, estilos de fuente y más.</p>
            <h3 id="layout">Diseño de página con CSS</h3>
            <p>En esta sección se cubren las técnicas de diseño de página con CSS, como la creación de diseños de caja, la posición de elementos, la creación de diseños fluidos y responsivos y la creación de menús de navegación.</p>
            <h3 id="tipografia">Tipografía con CSS</h3>
            <p>En esta sección se cubren las propiedades CSS que se utilizan para dar formato y estilo a la tipografía en una página web. Se explican las propiedades para crear estilos de fuente personalizados, como familias de fuente, pesos de fuente, tamaño de línea y más.</p>
            <h3 id="proyectos">Proyectos prácticos</h3>
            <p>En esta sección se presentan varios proyectos prácticos que permitirán aplicar los conceptos aprendidos en el curso. Entre ellos se encuentra la creación de una página web personal, la implementación de un menú de navegación y la creación de una página de contacto con un formulario de contacto.</p>
      </section>

      <section id="matecs">
        <h2>Curso de Matemática para Computer Science</h2>
        <p>En este curso de Matemática para Computer Science aprenderás los conceptos básicos de cálculo, álgebra lineal, probabilidades y estadística, y cómo se aplican en la resolución de problemas en el campo de la informática. Con este conocimiento podrás diseñar algoritmos más eficientes y comprender mejor los fundamentos de la inteligencia artificial y la criptografía.</p>
        <div style="display: flex;">
          <div style="flex: 1;">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/eSFA1Fp8jcU" title="video de Matemática para Computer Science" frameborder="0" allow="encrypted-media" allowfullscreen></iframe>
          </div>
          <div style="flex: 1;">
            <p>Este video te ofrece una introducción a nuestro curso de Matemática para Computer Science y te muestra algunos ejemplos básicos de cómo se aplican los conceptos matemáticos en la informática.</p>
          </div>
        </div>
        <h3 id="calculo">Cálculo</h3>
        <p>En esta sección se cubren los conceptos básicos de cálculo, como límites, derivadas e integrales, y cómo se aplican en la optimización de algoritmos y la comprensión de los fundamentos de la inteligencia artificial.</p>
        <h3 id="algebra-lineal">Álgebra Lineal</h3>
        <p>En esta sección se cubren los conceptos básicos de álgebra lineal, como sistemas de ecuaciones lineales, matrices y determinantes, y cómo se aplican en la resolución de problemas de programación lineal y la comprensión de los fundamentos de la criptografía.</p>
        <h3 id="probabilidades">Probabilidades y Estadística</h3>
        <p>En esta sección se cubren los conceptos básicos de probabilidades y estadística, como variables aleatorias, distribuciones de probabilidad, estadística descriptiva e inferencial, y cómo se aplican en la resolución de problemas de análisis de datos y la comprensión de los fundamentos de la inteligencia artificial.</p>
        <h3 id="proyectos">Proyectos prácticos</h3>
        <p>En esta sección se presentan varios proyectos prácticos que permitirán aplicar los conceptos aprendidos en el curso. Entre ellos se encuentra la optimización de algoritmos de búsqueda y ordenamiento, la implementación de técnicas de programación lineal y la aplicación de técnicas de análisis de datos en conjuntos de datos reales.</p>
      </section>

      <section id="asesoriapython">
        <h2>Asesoría de Python</h2>
        <p>En esta asesoría de Python tendrás la oportunidad de resolver tus dudas y problemas con el lenguaje de programación Python. Nuestros expertos te ayudarán a entender conceptos avanzados, resolver errores de código y mejorar tus habilidades de programación.</p>
        <div style="display: flex;">
          <div style="flex: 1;">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/6tNS--WetLI" title="Asesoría de Python" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
          </div>
          <div style="flex: 1;">
            <p>Este video te ofrece una introducción a nuestra asesoría de Python y te muestra cómo nuestros expertos pueden ayudarte a mejorar tus habilidades de programación y resolver problemas complejos en Python.</p>
          </div>
        </div>
        <h3 id="resolucion-dudas">Resolución de dudas</h3>
        <p>Nuestros expertos están disponibles para ayudarte en la resolución de cualquier duda que tengas sobre Python. Desde preguntas básicas hasta dudas avanzadas, estamos aquí para ayudarte a entender mejor el lenguaje y resolver cualquier problema que tengas en tus proyectos.</p>
        <h3 id="apoyo-proyectos">Apoyo en proyectos</h3>
        <p>Si estás trabajando en un proyecto de Python y necesitas ayuda, nuestros expertos están disponibles para apoyarte en el desarrollo del proyecto. Ya sea que necesites ayuda en la planificación, diseño, implementación o resolución de problemas, estamos aquí para ayudarte a tener éxito en tu proyecto.</p>
        <h3 id="avance-temas">Avance de temas de Python</h3>
        <p>Si ya tienes experiencia en Python y estás buscando avanzar en tus habilidades, nuestros expertos pueden ayudarte a aprender temas avanzados de Python, como programación orientada a objetos, estructuras de datos avanzadas, funciones avanzadas y más. Estamos aquí para ayudarte a avanzar en tus habilidades de programación en Python.</p>
      </section>

      <section id="registro">
        <div class="formulario">
          <h1>Inicio Sesión</h1>
          <form id="IngresoInicio">
            <label for="InputCorreo">Correo Electronico</label>
            <input type="email" id="InputCorreo" placeholder="Correo Electronico" required>
  
            <label for="InputContraseña">Contraseña</label>
            <input type="password" id="InputContraseña" placeholder="Contraseña" required>     
            <button type="submit" class="button">Iniciar Sesion</button>
          </form>  
        </div>
      </section>
  
      <section id="inicio">
        <div class="formulario">
          <h1>Inicio Sesión</h1>
          <form id="IngresoInicio">
            <label for="InputCorreo">Correo Electronico</label>
            <input type="email" id="InputCorreo" placeholder="Correo Electronico" required>
  
            <label for="InputContraseña">Contraseña</label>
            <input type="password" id="InputContraseña" placeholder="Contraseña" required>
  
            <button type="submit" class="button">Iniciar Sesion</button>
          </form>
        </div>
      </section>
    


      <section id="profesores">
        <h1>Profesores</h1>

        <div class="row">
          <div class="item">
          <div id="worker_1" class="workers"></div>
            <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
            <script>
              $(document).ready(function() {
                $.ajax({
                  url: "http://127.0.0.1:5000/profesores",
                  type: "GET",
                  success: function(data) {
                    var info = "";
                    var fullName = data[0]["firstname"] + " " + data[0]["lastname"];
                    info += "<div class='worker'>";
                    info += "<span class='name'>" + data[0]["firstname"] + " " + "</span><span class='surname'>" + data[0]["lastname"] + "</span>";
                    info += "</div>";
                    $("#worker_1").html(info);
                  }
                });
              });
            </script>
            <img src="..\static\images\Marvin_Abisrror.png" alt="Logo">
            <p>Ingeniero de Sistemas con Maestría en Ciencias 
              de la Computación y especialidad en Búsquedas 
              Heurísticas para soluciones de dominios de Juegos.</p>
          </div>
        </div>
        

        <div class="row">
          <div class="item">
            <div id="worker_2" class="workers"></div>
            <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
            <script>
              $(document).ready(function() {
                $.ajax({
                  url: "http://127.0.0.1:5000/profesores",
                  type: "GET",
                  success: function(data) {
                    var info = "";
                    var fullName = data[1]["firstname"] + " " + data[1]["lastname"];
                    info += "<div class='worker'>";
                    info += "<span class='name'>" + data[1]["firstname"] + " " + "</span><span class='surname'>" + data[1]["lastname"] + "</span>";
                    info += "</div>";
                    $("#worker_2").html(info);
                  }
                });
              });
            </script>
            <img src="..\static\images\Jesus_Bellido.png" alt="Logo">
            <p>Magister en Ciencia de la Computación y Doctor 
              en Ciencia de la Computación por la Pontificia 
              Universidad Católica de Chile</p>
          </div>
        </div>


        <div class="row">
          <div class="item">
            <div id="worker_3" class="workers"></div>
            <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
            <script>
              $(document).ready(function() {
                $.ajax({
                  url: "http://127.0.0.1:5000/profesores",
                  type: "GET",
                  success: function(data) {
                    var info = "";
                    var fullName = data[2]["firstname"] + " " + data[2]["lastname"];
                    info += "<div class='worker'>";
                    info += "<span class='name'>" + data[2]["firstname"] + " " + "</span><span class='surname'>" + data[2]["lastname"] + "</span>";
                    info += "</div>";
                    $("#worker_3").html(info);
                  }
                });
              });
            </script>
            <img src="..\static\images\Jose_Fiestas.png" alt="Logo">
            <p>Astrofísico computacional graduado en la 
              Universidad de Heidelberg, Alemania.</p>
          </div>
        </div>


        <div class="row">
          <div class="item">
            <div id="worker_4" class="workers"></div>
            <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
            <script>
              $(document).ready(function() {
                $.ajax({
                  url: "http://127.0.0.1:5000/profesores",
                  type: "GET",
                  success: function(data) {
                    var info = "";
                    var fullName = data[3]["firstname"] + " " + data[3]["lastname"];
                    info += "<div class='worker'>";
                    info += "<span class='name'>" + data[3]["firstname"] + " " + "</span><span class='surname'>" + data[3]["lastname"] + "</span>";
                    info += "</div>";
                    $("#worker_4").html(info);
                  }
                });
              });
            </script>
            <img src="..\static\images\Ruben_Rivas.png" alt="Logo">
            <p>Ingeniero Electrónico graduado por la 
              Universidad Privada Antenor Orrego en 2008.</p>
          </div>
        </div>
     

        <div class="row">
          <div class="item">
            <div id="worker_5" class="workers"></div>
            <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
            <script>
              $(document).ready(function() {
                $.ajax({
                  url: "http://127.0.0.1:5000/profesores",
                  type: "GET",
                  success: function(data) {
                    var info = "";
                    var fullName = data[4]["firstname"] + " " + data[4]["lastname"];
                    info += "<div class='worker'>";
                    info += "<span class='name'>" + data[4]["firstname"] + " " + "</span><span class='surname'>" + data[4]["lastname"] + "</span>";
                    info += "</div>";
                    $("#worker_5").html(info);
                  }
                });
              });
            </script>
            <img src="..\static\images\Alan_Morante.png" alt="Logo">
            <p>MBA de Pacífico Business School y bachiller en 
              Ingeniería informática por la Universidad Católica 
              San Pablo.</p>
          </div>
        </div>


        <div class="row">
          <div class="item">
            <div id="worker_6" class="workers"></div>
            <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
            <script>
              $(document).ready(function() {
                $.ajax({
                  url: "http://127.0.0.1:5000/profesores",
                  type: "GET",
                  success: function(data) {
                    var info = "";
                    var fullName = data[5]["firstname"] + " " + data[5]["lastname"];
                    info += "<div class='worker'>";
                    info += "<span class='name'>" + data[5]["firstname"] + " " + "</span><span class='surname'>" + data[5]["lastname"] + "</span>";
                    info += "</div>";
                    $("#worker_6").html(info);
                  }
                });
              });
            </script>
            <img src="..\static\images\Jorge_Villavicencio.png" alt="Logo">
            <p>Magíster en Ciencias de la Computación con especialidad 
              en Inteligencia Artificial por la Universidad de Ingeniería 
              y Tecnología de Perú.</p>
          </div>
        </div>
      </section>


  </main>
  <footer>
    <p>&copy; TechTribe 2023</p>
  </footer>
</body>
</html>