<!DOCTYPE html>
<html>

<head>
  <title>TechTribe</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description"
    content="TechTribe ofrece cursos y asesorías de programación en línea. Descubre nuestra oferta de cursos de Python, C++, HTML y CSS.">
    <link  k rel="stylesheet" type="text/css" href="..\static\css\style.css">
    <link rel="stylesheet" type="text/css" href="..\static\css\login.css">
    <script src="..\static\js\actions.js"></script>
</head>

<body>
  <header class="header" id="Menu">

    <a href="/#" class="logo" onclick="mostrarDefault()">
      <img src="..\static\images\Logo2-remove.png" alt="Logo">
    </a>

    <div style="display: flex;" class="navbar-container">
      <a href="#" onclick="mostrarCurso()">Cursos</a>
      <a href="/#" onclick="mostrarAsesoria()">Asesorias</a>
      <a href="/#" onclick="mostrarProfesores()">Profesores</a>
      <a href="/login" onclick="mostrarInicio()">Iniciar Sesion</a>
      <a href="/register" onclick="mostrarRegistro()">Registrate</a>
      
    </div>
  </header>

  <main>
    <section class="loginform">
      <form id="loginform">
        <h4>Inicar Sesion</h4>
        <label for="correo">Correo electrónico:</label>
        <input class="controls" type="email" name="correo" id="correo" placeholder="Ingrese su Correo" required>
        <label for="contrasena">Contraseña:</label>
        <input class="controls" type="password" name="contrasena" id="contrasena" placeholder="Ingrese su Contraseña" required>
        <div id="errorLogin" style="display: none; color: red;"></div>
        <div id="succesLogin" style="display: none; color: green;"></div>
        <div><input class="botons" onclick="" type="submit" value="Iniciar Sesion"></div>
        <p><a href="/register">¿Aun no tienes Cuenta?</a></p>
      </form>
    </section>
    
  </main>
  <footer>
    <p>&copy; TechTribe 2023</p>
  </footer>
</body>

</html>