<!DOCTYPE html>
<html>

<head>
    <title>TechTribe</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description"
        content="TechTribe ofrece cursos y asesorías de programación en línea. Descubre nuestra oferta de cursos de Python, C++, HTML y CSS.">
    <link rel="stylesheet" type="text/css" href="..\static\css\profesores.css">
    <script src="..\static\js\actions.js"></script>
</head>

<body>
  <header class="header">

    <a href="/" class="logo" onclick="mostrarDefault()">
      <img src="..\static\images\Logo2-remove.png" alt="Logo">
    </a>

    <div style="display: flex;" class="navbar-container">
      <p id="user_name"></p>
      <a id="Cursodef"href="/cursos" onclick="ocultarCursos()">Cursos</a>
      <a href="/asesorias" onclick="ocultarAsesorias()">Asesorias</a>
      <a href="/profesores" onclick="mostrarProfesores()">Profesores</a>
      <a href="/login" onclick="mostrarInicio()" id="InicioDef">Iniciar Sesion</a>
      <a href="/register" id="RegistroDef">Registrate</a>
      <a href="/compra" id="OrdenC">Orden de Compra</a>
      <a href="/logout" id="Logout">Cerrar sesión</a>


    </div>
  </header>

    
        <section id="profesores" style="display: block;">
        <h1>Profesores</h1>

        <div class="row">
            <div class="item">
            <div id="worker_1" class="workers"><div class="worker"><span class="name">Marvin </span><span class="surname">Abisrror</span></div></div>
              <img src="..\static\images\Marvin_Abisrror.png" alt="Logo">
              <p>Ingeniero de Sistemas con Maestría en Ciencias 
                de la Computación y especialidad en Búsquedas 
                Heurísticas para soluciones de dominios de Juegos.</p>
            </div>
        

            <div class="item">
              <div id="worker_2" class="workers"><div class="worker"><span class="name">Jesus </span><span class="surname">Bellido</span></div></div>
              <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
              
              <img src="..\static\images\Jesus_Bellido.png" alt="Logo">
              <p>Magister en Ciencia de la Computación y Doctor 
                en Ciencia de la Computación por la Pontificia 
                Universidad Católica de Chile</p>
            </div>
          


            <div class="item">
              <div id="worker_3" class="workers"><div class="worker"><span class="name">Jose </span><span class="surname">Fiestas</span></div></div>
              <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

              <img src="..\static\images\Jose_Fiestas.png" alt="Logo">
              <p>Astrofísico computacional graduado en la 
                Universidad de Heidelberg, Alemania.</p>
            </div>
        </div>

        <div class="row">
            <div class="item">
              <div id="worker_4" class="workers"><div class="worker"><span class="name">Ruben </span><span class="surname">Rivas</span></div></div>
              <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

              <img src="..\static\images\Ruben_Rivas.png" alt="Logo">
              <p>Ingeniero Electrónico graduado por la 
                Universidad Privada Antenor Orrego en 2008.</p>
            </div>
 
     

            <div class="item">
              <div id="worker_5" class="workers"><div class="worker"><span class="name">Alan </span><span class="surname">Morante</span></div></div>
              <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

              <img src="..\static\images\Alan_Morante.png" alt="Logo">
              <p>MBA de Pacífico Business School y bachiller en 
                Ingeniería informática por la Universidad Católica 
                San Pablo.</p>
            </div>
        

            <div class="item">
              <div id="worker_6" class="workers"><div class="worker"><span class="name">Jorge </span><span class="surname">Villavicencio</span></div></div>
              <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
             
              <img src="..\static\images\Jorge_Villavicencio.png" alt="Logo">
              <p>Magíster en Ciencias de la Computación con especialidad 
                en Inteligencia Artificial por la Universidad de Ingeniería 
                y Tecnología de Perú.</p>
            </div>
        </div>
        <div class="row">
            <div class="item">
              <div id="worker_7" class="workers"><div class="worker"><span class="name">Jose Miguel </span><span class="surname">Renom</span></div></div>
              <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
           
              <img src="..\static\images\Jose_Renom.png" alt="Logo">
              <p>Doctor en matemáticas puras y aplicadas de 
                la Universidad Simón Bolívar, Venezuela. </p>
            </div>
          


            <div class="item">
              <div id="worker_8" class="workers"><div class="worker"><span class="name">Jorge </span><span class="surname">Tipe</span></div></div>
              <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
              
              <img src="..\static\images\Jorge_Tipe.png" alt="Logo">
              <p>Matemático por la Universidad Nacional Mayor de San Marcos 
                y Magíster en Matemática Aplicada e Informática por el Instituto 
                de Física y Tecnología de Moscú, Rusia.</p>
            </div>
          </div>
        </section>
      
    
  
</body>
<footer>
    <p>&copy; TechTribe 2023</p>
</footer>
</body>

</html>